{% if errors %}
<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div class="govuk-error-summary__body">
    <h2 class="govuk-error-summary__title">There is a problem</h2>
    <ul class="govuk-list govuk-error-summary__list">
      {% for key, message in errors %}
        <li>
          <a href="#{{ key }}">{{ message }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
