{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% if errors %}
  {% set errorList = [] %}
  {% for key, message in errors %}
    {% set _ = errorList.append({
      text: message,
      href: "#" + key
    }) %}
  {% endfor %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errorList
  }) }}
{% endif %}
