{% from "components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  meta: {
    items: [
      {
        href: "#",
        text: "Accessibility"
      },
      {
        href: "#",
        text: "Cookies"
      },
      {
        href: "#",
        text: "Privacy"
      },
      {
        href: "#",
        text: "Contact us"
      }
    ]
  }
}) }}
