{
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["prettier-plugin-jinja-template"],
  "overrides": [
    {
      "files": "*.njk",
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}
